<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from "../store";
import { ActionTypes } from "../store/actions";

export default defineComponent({
  setup() {
    const store = useStore();

    const fetchUsersData = () => {
      if (store.getters.usersData && store.getters.usersData.length !== 0) {
        return;
      }
      store.dispatch(ActionTypes.GetUsers);
    };
    return { fetchUsersData };
  },
});
</script>

<template>
  <div id="q-app">
    <div class="q-pa-md q-gutter-sm">
      <q-banner rounded class="q-banner bg-grey-3 column row-md">
        <template v-slot:avatar class="self-center">
          <img
            src="../assets/logo.svg"
            class="q-banner__logo align-center"
            style=""
          />
        </template>
        <h5 class="my-md">
          Please press See Users button to see github users.
        </h5>
        <template v-slot:action>
          <router-link to="/users" @click="fetchUsersData">
            <q-btn
              size="22px"
              class="q-px-xl q-py-xs"
              color="green"
              label="See Github Users"
            ></q-btn>
          </router-link>
        </template>
      </q-banner>
    </div>
  </div>
</template>

<style lang="scss">
#q-app {
  min-height: 100vh;
  .q-banner {
    @media (min-width: 680px) {
      flex-direction: row;
    }
    &__avatar {
      align-self: center !important;
    }
    &__logo {
      width: 250px;
      height: 250px;
    }
    a {
      text-decoration: none;
      &.router-link-exact-active {
        text-decoration: none;
      }
    }
  }
}
</style>
